<div class="basic_form">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.execute_streak', default: 'Execute') %></h4>
    </div>
    <%= render 'form', goal: @goal, path: goal_streaks_execute_path(@goal) %>
  </div>
</div>
