<div class="basic_form">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.unexecute_streak', default: 'Unexecute') %></h4>
    </div>
    <%= render 'form', goal: @goal, path: goal_unexecute_path(@goal) %>
  </div>
</div>
