<%= goals_error_messages! %>

<div class="basic_form">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.edit_goal', default: 'Edit Goal') %></h4>
    </div>
    <%= render 'form', goal: @goal %>
  </div>
</div>
