<div class="row">
  <h1>
    My Goals

    <%= link_to new_goal_path, role: 'button',
	class: 'btn btn-success btn-lg pull-right' do %>
      Add Goal
    <% end %>
  </h1>
</div>

<br />

<div class="row">
  <% if @goals.empty? %>
    <p class="empty">
      You have no goals. Try <%= link_to('adding one', new_goal_path)
      %> or <%= link_to('learn more', about_path) %>.
    </p>
  <% end %>

  <div class="panel-group" id="accordion" role="tablist"
       aria-multiselectable="true">
    <% @goals.each do |goal| %>
      <%= render 'panel', goal: goal %>
    <% end %>
  </div>
</div>
