<div class="row">
  <h1>
    My Goals

    <%= link_to new_goal_path, role: 'button', class: 'btn btn-success btn-lg pull-right' do %>
      Add Goal
    <% end %>
  </h1>
</div>

<br />

<div class="row">
  <% if @goals.empty? %>
    <p class="empty">You have no goals. Try adding one.</p>
  <% end %>
  <div class="list-group">
    <% @goals.each do |goal| %>
      <%= link_to goal, class: 'list-group-item' do %>
        <h3 class="list-group-item-heading">
	  <small>I will</small>
	  <%= goal.description %>
	  <%= goal.frequency %>
	</h3>
	<!--p class="list-group-item-text">some extras here? skip count?</p-->
      <% end %>
    <% end %>
  </div>
</div>
