<%= goals_error_messages! %>

<div class="basic_form">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.new_goal', default: 'New Goal') %></h4>
    </div>
    <%= render 'form', goal: @goal %>
  </div>
  <%= link_to 'Back', goals_path %>
</div>
