// Place all the styles related to the Goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-dropdown {
    width:100%;
    text-align: left;
    outline: none;
    padding: 3px 20px;
    border: 0px;
    box-sizing: none;
    background-color: transparent;
}

.panel-group .panel {
    overflow: visible;
}
