<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">baplan</a>
    </div>

    <ul class="nav nav-pills pull-right">
      <%= render "layouts/auth_nav" %>
    </ul>
  </div>
</nav>
