<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
  <div class="container">
    <!--removed for prettier behavior on small display
	div class="navbar-header"-->
    <a class="navbar-brand" href="/">
      <%= Rails.application.class.parent_name.downcase %>
    </a>
    <!--/div-->

    <ul class="nav nav-pills navbar-nav navbar-right">
      <%= render "layouts/auth_nav" %>
    </ul>
  </div>
</nav>
